@import '../../../scss//index.scss';

.account {
  display: flex;

  button {
    background-color: transparent !important;
    margin-left: 10px !important;

    > i {
      font-size: 18px;
      height: 20px !important;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &:hover {
      > i {
        color: $primary;
      }
    }
  }

  .cart {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    > div {
      position: absolute;
      top: -2px;
      right: -2px;
      background-color: $primary;
      color: $text-primary;
      font-size: 10px;
      margin-left: 5px;
    }
  }

  .user {
    background-color: $background-tertiary !important;
    border-radius: 10px;
    border: solid 2px $background-tertiary;

    &:hover {
      border: solid 2px $primary;

      > i {
        color: $text-primary;
      }
    }
  }
}
